<manifest xmlns:android="http://schemas.android.com/apk/res/android"

    package="com.dk.mp.core">

    <application android:allowBackup="true" android:label="@string/app_name"
        android:supportsRtl="true">

        <activity android:name=".ui.HttpWebActivity"
            android:screenOrientation="portrait">
        </activity>


        <activity android:name="com.dk.mp.core.widget.DatePickActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name="com.dk.mp.core.widget.TextPickActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:screenOrientation="portrait">
        </activity>

    </application>

</manifest>
