<manifest xmlns:android="http://schemas.android.com/apk/res/android"

    package="com.dk.mp.xyrl">

    <application android:allowBackup="true" android:label="@string/app_name"
        android:supportsRtl="true">
        <activity
            android:name="com.dk.mp.xyrl.XyrlActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="xyrl" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name="com.dk.mp.xyrl.XyrlBzActivity"></activity>
    </application>

</manifest>
