<manifest xmlns:android="http://schemas.android.com/apk/res/android"

    package="com.dk.mp.ydqj">

    <application android:allowBackup="true" android:label="@string/app_name"
        android:supportsRtl="true">

        <!-- 请假申请开始 -->
        <activity
            android:name="com.dk.mp.ydqj.ui.LeaveListActivity"
            android:screenOrientation="portrait"
            android:label="请假申请">
            <intent-filter>
                <action android:name="qingjia"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.dk.mp.ydqj.ui.LeaveDetailActivity"
            android:screenOrientation="portrait"
            android:label="请假申请详情"/>

        <activity
            android:name="com.dk.mp.ydqj.ui.AddLeaveActivity"
            android:screenOrientation="portrait"
            android:label="请假申请新增"/>
        <activity
            android:name="com.dk.mp.ydqj.ui.DatePickActivity"
            android:screenOrientation="portrait"
            android:label="日期控件" />
        <activity
            android:name="com.dk.mp.ydqj.util.ImageDialogAcitivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyDialog" />

        <activity
            android:name="com.dk.mp.ydqj.ui.ApprovalLeaveMainActivity"
            android:screenOrientation="portrait"
            android:label="请假审批">
            <intent-filter>
                <action android:name="qjsp"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <activity
            android:name="com.dk.mp.ydqj.ui.ApprovalLeaveListActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.dk.mp.ydqj.ui.ApprovalLeaveSubmitActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.dk.mp.ydqj.ui.ImagePreviewActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.dk.mp.ydqj.ui.LeaveTypeActivity"
            android:screenOrientation="portrait"
            android:label="请假类型选择控件" />
    </application>

</manifest>
